@{
    ViewData["Title"] = "Simple String Match Application";
}


<div class="container py-5 h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
    <div class="card rounded-3 text-black">
        <div class="row g-0">
        <div class="col-lg-6">
            <div class="card-body p-md-5 mx-md-4">

            <div class="text-center">
                <img class="img-fluid" src="~/images/logo.png"
                style="width: 185px;" alt="logo">
            </div>

            <form asp-controller="StringMatch" asp-action="Index" method="get">
                <p>Enter your preferred phrase below to see indecies for vowels in it</p>

                <div class="form-outline mb-4">
                <input type="text" name="phrase" id="phrase" class="form-control"
                    placeholder="Enter your phrase" />
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Submit</button>
                </div>
            </form>

            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
            <h3 class="mb-4">View your results below</h3>
            <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Vowels</th>
                      <th scope="col">Vowel Index Positions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>a</td>
                      <td>@ViewData["a"]</td>
                    </tr>
                    <tr>
                      <td>e</td>
                       <td>@ViewData["e"]</td>
                    </tr>
                    <tr>
                      <td>i</td>
                       <td>@ViewData["i"]</td>
                    </tr>
                    <tr>
                      <td>o</td>
                       <td>@ViewData["o"]</td>
                    </tr>
                    <tr>
                      <td>u</td>
                       <td>@ViewData["u"]</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>